BasedOnStyle: GNU
AccessModifierOffset: -4 
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Allman
ColumnLimit: 120
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false
IndentWidth: 4
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceBeforeParens: Never