[submodule "concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/opencl_hpp"]
	path = ext/opencl_hpp
	url = https://github.com/KhronosGroup/OpenCL-CLHPP.git
